<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links below-->
  <a href="/menu/Mains">Mains</a>
  <a href="/menu/Desserts">Desserts</a>
  <a href="/menu/Sides">Sides</a>
</nav>
