<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1><%= RESTAURANT.name %></h1>
    <% let isOpen=true; %>
    <%if(isOpen){ %>
    <h2>Yes! We are Open! </h2>
    <%} else {%>
      <h2>Sorry, we are closed </h2%>
    <%}%>
    <ul>
      <li><%= RESTAURANT.address %></li>
      <li><%= RESTAURANT.phone %></li>
    </ul>
  </body>
</html>
